<!doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="../../public/images/cat.png" />
    <link href="../../public/stylesheets/admin/styles.css" rel="stylesheet" />
    <link href="../../public/stylesheets/admin/feedbackStyle.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Paytone+One&display=swap" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/867a38eeb9.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
        integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>

    <title>Admin QPANK</title>
</head>

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-pink">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" onclick="navigate('/admin')">TRANG QUẢN TRỊ</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                class="fas fa-bars"></i></button>
        <!-- Navbar Blank-->
        <div class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        </div>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/login">Thoát</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <span id="logo">Q</span>
                        <h2>QPANK</h2>
                        <a class="nav-link" onclick="navigate('/admin')">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Trang chủ
                        </a>
                        <!-- <div class="sb-sidenav-menu-heading">Quản lý giao diện</div> -->
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                            data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Quản lý người dùng
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                            data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" onclick="navigate('/admin/feeds')">Người dùng phản hồi</a>
                                <a class="nav-link" onclick="navigate('/admin/comments')">Người dùng bình luận</a>
                                <a class="nav-link" onclick="navigate('/admin/subs')">Người dùng đăng ký</a>
                            </nav>
                        </div>

                        <a class="nav-link" onclick="navigate('/admin/products')">
                            <div class="sb-nav-link-icon"><i class="fas fa-server"></i></div>
                            Quản lý sản phẩm
                        </a>
                        <a class="nav-link" onclick="navigate('/admin/users')">
                            <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                            Quản lý thành viên
                        </a>
                    </div>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
                        aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a onclick="navigate('/admin')">Trang chủ</a></li>
                            <li class="breadcrumb-item">Quản lý người dùng</li>
                            <li class="breadcrumb-item active">Người dùng phản hồi</li>

                        </ol>
                    </nav>

                    <div class="table-responsive">
                        <table id="myTable" class="table table-bordered table-hover align-middle">
                            <tr>
                                <th scope="col" class="text-center">Tên người dùng</th>
                                <th scope="col" class="text-center" onclick="sortTable(1)">Ngày gửi <i
                                        class="fas fa-sort"></i></th>
                                <th scope="col" class="text-center">Tiêu đề</th>
                                <th scope="col" class="text-center">Chi tiết </th>
                                <!-- <th scope="col" class="text-center">Nội dung</th> -->
                                <th scope="col" class="text-center">Xem chi tiết</th>
                            </tr>
                            <tbody>
                                <% feedList.forEach(function(item){ %>
                                    <tr>
                                        <td scope="col" class="edit">
                                            <%=item.Name%>
                                        </td>
                                        <td scope="col" class="edit">
                                            <%=item.Date%>
                                        </td>
                                        <td scope="col">
                                            <%=item.Title%>
                                        </td>
                                        <td scope="col">
                                            <%=item.Details%>
                                        </td>
                                        <td scope="col" class="edit">
                                            <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                                data-bs-target="#exampleModal" id="buttonDetail"
                                                onclick="display(this)">
                                                Chi tiết
                                            </button> -->
                                            <a class="btn btn-primary" data-bs-toggle="modal" href="#exampleModalToggle"
                                                role="button" onclick="display(this)" id="buttonDetail">Xem chi tiết</a>
                                        </td>
                                        <td scope=" col" class="hideData">
                                            <%=item.Number%>
                                        </td>
                                        <td scope="col" class="hideData">
                                            <%=item.Mail%>
                                        </td>
                                        <td scope="col" class="hideData">
                                            <%=item._id%>
                                        </td>
                                    </tr>
                                    <% }) %>

                            </tbody>
                        </table>
                    </div>

                </div>

            </main>

            <footer>
                <p class="text-center">Designed with <i class="far fa-heart"></i> by QPANK</p>
            </footer>
        </div>
    </div>

    <!-- Modal xác nhận -->
    <div class="modal fade" id="exampleModalToggle" data-bs-backdrop="static" data-bs-keyboard="false"
        aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel">
                        <i class="far fa-circle-info"></i> Chi tiết phản hồi
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Show a second modal and hide this one with the button below.
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" data-bs-target="#staticBackdrop" data-bs-toggle="modal"
                        data-bs-dismiss="modal">Xóa phản hồi</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true"
        aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel2">Bạn có chắc chắn sẽ xóa phản hồi này?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>


                <div class="text-center">
                    <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal"
                        data-bs-dismiss="modal">Quay lại</button>
                    <button id="btnDelete" type="button" class="btn btn-danger">Đồng ý</button>
                </div>
            </div>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="../../../public/javascripts/admin/scripts.js"></script>
    <script src="../../public/javascripts/admin/feedScript.js"></script>

</body>

</html>